body {
  background-color: rgb(142, 199, 201);
}

#color-palette {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

}

.color {
  width: 70px;
  height: 70px;
  border: solid black 1px;
  margin-right: 10px;
}

#pixel-board {
  margin: auto;
  height: 200px;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 3px;
}

.pixel {
  height: 40px;
  width: 40px;
  background-color: white;
  border: solid black 1px;
}
